/**
* Google Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

/**
* Variable
*/
@brand-color: #8046EB;

/**
* Global
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
a {
  color: #444444;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a:hover {
  text-decoration: none;
  color: @brand-color;
}
a:focus {
  outline: 0;
  outline-offset: 0;
  text-decoration: none;
}
.title {
  font-size: 2.33em;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.3;
}
.sub-title {
  font-size: 1.13em;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 35px;
}
.container {
  width: 96%;
  padding: 0;
}
.main-content {
  background: rgb(128,70,235); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(128,70,235,1) 0%, rgba(128,70,235,1) 50%, rgba(227,228,248,1) 50%, rgba(227,228,248,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(128,70,235,1) 0%,rgba(128,70,235,1) 50%,rgba(227,228,248,1) 50%,rgba(227,228,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(128,70,235,1) 0%,rgba(128,70,235,1) 50%,rgba(227,228,248,1) 50%,rgba(227,228,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8046eb', endColorstr='#e3e4f8',GradientType=1 ); /* IE6-9 */

}
#main {
  position: relative;
  overflow: hidden;
}
/**
* Header
*/
.tx-header {
  margin: 20px 0;
  //height: 50px;
  .logo {
    display: table;
    margin: 0 auto;
    img {
      max-width: 200px;
    }
  }
  .main-menu {
    display: table;
    float: right;
    font-size: 1em;
    margin-top: -28px;
    a {
      margin-left: 15px;
      text-transform: uppercase;
      font-weight: 600;

      &.donate {
        background: #9BCB5C;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 3px;
        box-shadow: 0 0 2px #B3B3B3;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

/**
* WP
*/
.wp-img-dis, .img-placehold {
  padding: 50px;
}
.wp-img-dis {
  background: @brand-color;
  color: #ffffff;
  .input-group {
    max-width: 550px;
    margin: 50px auto 0;
  }
  .form-control {
    color: @brand-color;
    font-weight: 700;
    border-radius: 0;
    box-shadow: none;
    padding: 20px 10px;
    border: 0;
  }
  .btn.btn-primary.btn-file {
    padding: 10px 25px;
    border: 0;
    background: #9BCB5C;
    border-radius: 0;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
}

/**
* Placehold
*/
.img-placehold {
  background: #E3E4F8;

  .nav-tabs {
    border: 0;
    margin-bottom: 20px;
  }
  .nav>li>a {
    font-weight: 600;
    padding: 10px 35px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  .nav>li>a:focus, .nav>li>a:hover {
    background-color: @brand-color;
    color: #ffffff;
  }
  .nav-tabs>li.active>a, 
  .nav-tabs>li.active>a:focus, 
  .nav-tabs>li.active>a:hover {
    color: #ffffff;
    background-color: @brand-color;
    border: 0;
  }
  
  .example {
    margin-top: 30px;
    border: 1px dashed @brand-color;
    padding: 20px;
    font-size: 1.06em;
    font-weight: 700;
    line-height: 1;
    .bg-ex {
      background-color: @brand-color;
      color: #ffffff;
      padding: 5px;
    }
  }
}

/**
* About
*/
.about {
  background: @brand-color;
  color: #ffffff;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(0 , -80vh);
  -moz-transform: translate(0 , -80vh);
  -ms-transform: translate(0 , -80vh);
  -o-transform: translate(0 , -80vh);
  transform: translate(0 , -80vh);
  
  h1,h2, h3, h4 {
    margin: 0 0 20px;
  }
  p {
    margin-bottom: 25px;
  }
}
.about.slide-down {
  height: 100%;
  -webkit-transform: translate(0 , -0vh);
  -moz-transform: translate(0 , -0vh);
  -ms-transform: translate(0 , -0vh);
  -o-transform: translate(0 , -0vh);
  transform: translate(0 , -0vh);
}
.overlay-content {
  padding: 50px;
}

.close-btn {
  //text-align: right;
  .closebtn {
    color: #fff;
    font-size: 2em;
    //background: #401296;
    text-align: center;
    width: 40px;
    height: 40px;
    display: block;
    float: right;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    //box-shadow: 0 0 2px #FFF;
  }
}

/**
* Footer
*/
footer {
  padding: 10px 0;
  font-size: .8em;
  .glyphicon-heart {
    color: #D32F2F;
    top: 3px;
  }
  a {
    color: @brand-color;
  }
}

/**
* Responsive
*/
@media (min-width: 1500px) {
  .container, .overlay {
    width: 85% !important;
  }
  .title {
    font-size: 3.2em;
  }
  .sub-title {
    font-size: 1.6em;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-placehold .example {
    font-size: .8em;
  }
}

@media (max-width: 992px) {
  .tx-header .logo {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .img-placehold .example {
    font-size: .9em;
  }
}

@media (max-width: 500px) {
  .wp-img-dis, .img-placehold {
    padding: 50px 20px;
  }
  .tx-header {
    height: auto;
    .logo {
      max-width: 40%;
      float: left;
      img {
        max-width: 100%;
      }
    }
    .main-menu {
      margin-top: 0;
      a.donate {
        padding: 5px 10px;
      }
    }
  }
  .title {
    font-size: 2em;
  }
  .img-placehold .nav > li > a {
    padding: 6px 20px;
  }
  .img-placehold .example .bg-ex {
    display: block;
  }
}